// reset internal elements
.ql-editor * {
  margin: initial;
  padding: initial;
  text-align: initial;
}

body.active_admin [data-aa-quill-editor] {
  display: inline-block;
  width: calc(80% - 2px);

  button {
    text-shadow: none;
    box-shadow: none;

    &:hover {
      background-image: none;
      background-color: transparent;
    }
  }

  .ql-container {
    border: 1px solid #c9d0d6;
    border-radius: 0 0 3px 3px;
  }

  .ql-editor {
    background-color: #fff;
    max-height: 300px;
    min-height: 150px;
    padding: 10px;
    word-break: break-all;

    ol {
      list-style-type: decimal;
    }

    p {
      margin-bottom: 1em;
    }

    ul {
      list-style-type: disc;
    }

    ul, ol {
      margin: 0 1.5em 1.5em 0;
      padding-left: 1.5em;
    }
  }

  .ql-toolbar {
    border: 1px solid #c9d0d6;
    border-radius: 3px 3px 0 0;
  }
}
