@import 'activeadmin/quill_editor/quill.snow'

body.active_admin form .quill-editor
  display: inline-block
  width: calc(80% - 22px)
  .ql-editor
    background-color: #fff
    max-height: 300px
    min-height: 150px
    padding: 10px
    // reset internal elements
    *
      margin: initial
      padding: initial
      text-align: initial
    p
      margin-bottom: 1em
    ol
      list-style-type: decimal
    ul
      list-style-type: disc
    ul, ol
      margin: 0 1.5em 1.5em 0
      padding-left: 1.5em
